:host {
  --ion-background-color: #d6c1e1;
  --ion-text-color: #5a3d66;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);

  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-header {
  flex: 0 0 auto;
}

ion-content {
  flex: 1 1 auto;
  --overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #e3d9f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7e5ea6; 
    border-radius: 10px;
    border: 2px solid #e3d9f1;
  }

  scrollbar-width: thin;
  scrollbar-color: #7e5ea6 #e3d9f1;
}

.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 7rem;
  box-sizing: border-box;
  width: 100%;
}

ion-card {
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(179, 33, 236, 0.1);
  background-color: #b69dddda;
  border:5px solid rgba(76, 33, 129, 0.808);
}

ion-card-title {
  font-size: 1.3rem;
  color: var(--ion-text-color);
  font-weight: 700;
}

ion-item {
  --background: transparent;
  --border-color: transparent;
  margin-bottom: 1rem;

  ion-label {
    color: var(--ion-text-color);
    font-weight: 700;
    font-size: 1.2rem;
  }

  ion-input,
  ion-textarea {
    font-size: 1rem;
    color: var(--ion-text-color);
    background-color: #fff;
    border-radius: 6px;
    padding: 8px;
    box-shadow: inset 0 0 5px rgba(90, 61, 102, 0.15);
  }

  ion-icon {
    color: var(--ion-text-color);
    font-size: 1.8rem;
  }
}

ion-button {
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(90, 61, 102, 0.4);
  text-transform: uppercase;
  margin-top: 1rem;
}

.header-toolbar {
  --background: var(--ion-background-color);
  box-shadow: none;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  border: none;
}

.header-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  ion-icon {
    font-size: 2.5rem;
    color: var(--ion-text-color);
  }

  .header-title {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--ion-text-color);
  }
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--ion-text-color);
  margin: 1.5rem 0;

  ion-icon {
    color: var(--ion-text-color);
    font-size: 1.6rem;
  }
}

.header-animado {
  animation: deslizarDesdeArriba 1s ease-out both;
}

.icono-animado {
  animation: girarIcono 1.5s ease-in-out;
}

.texto-animado {
  animation: reboteTexto 1s ease-out;
}

@keyframes deslizarDesdeArriba {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes girarIcono {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes reboteTexto {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}