<?xml version="1.0" encoding="utf-8"?>
<widget id="com.michitaberna.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>MichiTaberna</name>
  <description>Una app para comprar productos de MichiTaberna desde el celular.</description>
  <author email="an.sevilla@duocuc.cl">Anamiren Sevilla</author>

  <preference name="android-minSdkVersion" value="23" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="SplashScreen" value="screen" />

  <platform name="android">
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
  </platform>
</widget>

