<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-card">
      <ion-icon name="paw"></ion-icon>
      <span class="header-title">MichiTaberna</span>
      <ion-icon name="beer"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-content">
    <div class="contenido-izquierda">
      <div class="info-section glow-text">
      Meramente Prrrrrrfecto
    </div>

    <ion-item class="input-slide">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Usuario</ion-label><br>
      <ion-input [(ngModel)]="usuario" required></ion-input>
    </ion-item>

    <ion-item class="input-slide">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Contraseña</ion-label><br>
      <ion-input [(ngModel)]="contrasena" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>

    <div class="registro-link" (click)="irRegistro()">
      <ion-icon name="sparkles-outline"></ion-icon>
      <span><u>Crea tu cuenta gratis</u></span>
      <ion-icon name="rocket-outline"></ion-icon>
    </div>
    </div>
  </div>  
</ion-content>
