@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.system.css";

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Edu+VIC+WA+NT+Hand&family=Saira&display=swap');

:root {
  --ion-background-color: #d6c1e1;
  --ion-text-color: #5a3d66;
  --ion-font-family-base: "Delius", cursive;
  --ion-icon-color: var(--ion-text-color);
}

body {
  font-family: var(--ion-font-family-base);
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-icon {
  color: var(--ion-icon-color);
}

.header-card {
  font-family: "Delius", cursive;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeftToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

ion-modal.modal-datos::part(content) {
  background: #ce95e9e7 !important;
  color: #5a3d66 !important;
  border-radius: 16px;
  max-width: 400px;
  max-height: 70vh;
  margin: auto;
  overflow: auto;
}

ion-modal.modal-datos ion-content.modal-content {
  --background: #c8a1da !important;
  color: #5a3d66 !important;
}

.modal-toolbar {
  background-color: #7e5fa5 !important;
  --color: white;
  font-weight: 700;
  border-top-right-radius: 16px;
  box-shadow: 0 2px 8px rgba(161, 62, 62, 0.664);
}

.modal-content p,
.modal-content span,
.modal-content div,
.modal-content ion-text {
  color: #5a3d66 !important;
}
